<h1>Editing credit card</h1>

<%= render "form", credit_card: @credit_card %>

<br>

<div>
  <%= link_to "Show this credit card", user_credit_card_path(current_user, @credit_card) %> |
  <%= link_to "Back to credit cards", user_credit_cards_path(current_user) %>
</div>
