<p style="color: green"><%= notice %></p>

<h1>Revenues</h1>

<div id="passengers">
  <% @total_revenue_by_departure.to_a.each do |passenger| %>

    <p>
      <%= passenger.first.name %>
      <%= passenger.last %> eur
    </p>
    <p>
      <%# link_to "Show this passenger", passenger %>
    </p>
  <% end %>

  <p>
    Total revenue
    <%= @total_revenue %>
  </p>

</div>

